.gradle/
.idea/
build/
app/build/
*.iml
.venv/
server/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
server/.env
.env
*.jks
*.keystore
!debug.keystore.base64
local.properties
hs_ed25519_secret_key
hs_ed25519_public_key
hostname
*.log

